@import "../index.scss";

.hero {
    // The hero component. Should take up the full height of the viewport minus the navbar.
    // Should be centered vertically and horizontally.
    height: 90vh;
    display: flex;
    // should flex vertically
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.name {
    color: map-get($theme-colors, "secondary");
    font-size: 3rem;
}

.title {
    color: map-get($theme-colors, "primary");
    font-size: 2rem;
}

.socials {
    // The socials component. Should be centered horizontally and vertically.
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 2rem;
}

.social {
    font-size: 3rem;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.hero-image {
    border-radius: 50%;
    filter: grayscale(80%);

    &:hover {
        transition: ease 0.3s;
        transform: scale(1.05);
        animation: rotation 500s infinite linear;
        filter: grayscale(0%);
    }
}
