.project-card {
    .desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        min-height: 4.5rem;
        line-height: 1.5rem;
        line-clamp: 3;
        -webkit-line-clamp: 3;
    }

    .card-title {
        line-height: 1.5rem;
        min-height: 3rem;
    }
}

.project-row {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
