@import 'custom.scss';
@import url("https://use.typekit.net/nom2eqq.css");

:root body {
  font-family: degular-text, sans-serif;
  background-color: map-get($theme-colors, "dark");
  color: map-get($theme-colors, "light");
}

a {
  text-decoration: none;
  color: inherit;

  :hover {
    transition: 0.5s ease;
    color: map-get($theme-colors, "secondary");
  }
}

// html {
//   transform: rotate3d(.1, -.1, -.1, 1deg)
// }
